<header class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h1 class="">Fakhri Zulkifli</h1>
    <p>
    <div align="center">
    <a href="https://{{ site.source_code.server }}/{{ site.source_code.nick }}" target="_blank"><span class="string">https://{{ site.source_code.server }}/{{ site.source_code.nick }}</a>
    •
    <a href="https://{{ site.social_media.domain }}/{{ site.social_media.nick }}" target="_blank"><span class="string">https://{{ site.social_media.domain }}/{{ site.social_media.nick }}</a>
    </div>
    </p>
  </div>
</header>

{% include menu.html %}
