<header class="row">
  <div class="col-lg-8 col-lg-offset-2" style="margin: auto">
    <h1 class="">Fakhri Zulkifli</h1>
    <p>
    <div style="margin: auto">
    <a href="https://{{ site.source_code.server }}/{{ site.source_code.nick}}" target="_blank"><span style="font-size: large" class="fab fa-github-square"></span></a>
    <a href="https://{{ site.social_media.domain }}/{{ site.social_media.nick }}" target="_blank"><span style="font-size: large" class="fab fa-twitter-square"></span></a>
    <a href="https://{{ site.work_media.domain }}/{{ site.work_media.nick}}" target="_blank"><span style="font-size: large" class="fab fa-linkedin"></span></a>
    </div>
    </p>
  </div>
</header>

{% include menu.html %}
